div.HintHost {
  position: static !important;
}

.HintElem {
  background-color: rgba(255, 255, 0, 0.25) !important;
  outline: 1px solid rgba(204, 0, 0, 1) !important;
}

.HintElemInactive {
  background-color: rgba(255, 255, 0, 0.1) !important;
  outline: 1px solid rgba(204, 0, 0, 0.1) !important;
}

.HintBoxInactive {
  opacity: 0.1 !important;
}

/* TODO: Is this stuff even needed anymore? */
.HintBox {
  position: absolute !important;
  z-index: 2147483645 !important;

  min-width: 0.75em !important;
  padding: 2pt;

  background-color: red;
  color: #FFF;
  border: 1px solid red;

  font-weight: bold;
  font-size: 12px;
  font-family: sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.HelperContainer {
  background-color: #888;
  border: 1px solid #888;
  position: fixed;
  z-index: 2147483646 !important;
  bottom: 0px;
  right: 0px;
  padding: 4px 8px;
}

.HelperContent {
  font-size: 14px;
  font-family: sans-serif;
  text-align: left;
  color: #eeeeee;
  margin: 0px;
  max-width: 400px;
  border: none;
}

.HelperContent caption {
  text-align: center;
  padding-bottom: 8px;
}

.HelperEntry td:first-child {
  text-align: right;
  padding-right: 12px;
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: top;
}

.HelperEntry td:last-child {
  font-weight: normal;
}

.HelperEntry > * {
  padding-bottom: 2px;
}


